body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: white;
  color: black;
  text-align: center;
}

header {
  padding: 80px 20px;
}

header h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 70px;
}

.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 35px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

.btn:hover {
  background: black;
  color: white;
}

section {
  padding: 70px 20px;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 45px;
}

footer {
  border-top: 1px solid black;
  padding: 20px;
  font-size: 12px;
}
